<%= form_for(device,:html => {:class=>'form-horizontal'}) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <label class="col-sm-offset-2 col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
    <%= f.text_field :name, class: "form-control"%>
      </div>
  </div>

  <div class="field form-group">
    <label class="col-sm-offset-2 col-sm-2 control-label">IP</label>
    <div class="col-sm-4">
    <%= f.text_field :ip, class: "form-control",disabled:""%>
    </div>
  </div>

  <div class="field form-group">
    <label class="col-sm-offset-2 col-sm-2 control-label">Status</label>
    <div class="col-sm-4">
    <%= f.text_field :status,class: "form-control",disabled:"" %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-4 col-sm-10">
    <%= f.submit %>
    </div>
  </div>
<% end %>
